/* Razer Green Theme */
.text-neon {
    color: #00ff00 !important;
    text-shadow: 0px 0px 10px #00ff00;
}

.text-link a {
    color: #00ff00;
    text-decoration: none;
}

.text-link a:hover {
    text-decoration: underline;
}

/* Navbar Styling */
.navbar {
    border-bottom: 2px solid #00ff00;
}

.navbar-nav {
    display: flex;
    flex-wrap: wrap;
}

.navbar-nav .nav-link {
    transition: color 0.3s ease-in-out;
    font-size: 18px;
}

.navbar-nav .nav-link:hover {
    color: #00ff00 !important;
}

/* Logo Container */
.logo-container {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px #00ff00;
}

/* Content Box */
.content-box {
    background-color: #111;
    box-shadow: 0px 0px 10px #00ff00;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
}
