body {
    background: black;
    color: white;
    
}

h1{
    font-family: Georgia;
}

ul{
    font-family: Helvetica;
}
img{
    border-color: red;
    padding: 1px 5px;
}

h2{
    color: red;
    text-align: center;
}

.artist{
    width: 300px;
    text-align: center;
}
.spotlight{
    border: 3pxs dotted yellow;
    width: 300;
    text-align: center;
}